<div class="container-fluid">

  <div class="mt-5">
    <h1><%- title %></h1>
	<p><a href="https://v4-alpha.getbootstrap.com/components/card/#card-columns"  target="_blank">Link to bootstrap card-columns docs</a></p>
	
</div><!-- /.container-fluid --> 


<div class="container-fluid mt-5 mb-5">
  <div class="card-columns">
    <!-- cards 1 to 5 -->
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    
    <!-- cards 6 to 10 -->
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    
    <!-- cards 11 to 15 -->
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>

    <!-- cards 16 to 20 -->
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
  </div>
</div>