<div class="container-fluid pt-5 pb-5">
  <div class="container">
    <h2 class="h3 text-center">With css-customized <code>col</code> class:</h2>

    <div class="row">
        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/food/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/nature/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/animals/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>

<!-- -->

        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/technics/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/transport/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/city/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
        <div class="col mt-3 mb-3">
            <div class="card card-block">
              <img class="card-img-top img-fluid" src="http://lorempixel.com/400/800/business/" alt="A sports image">
              <%- partial("_a-card-in-both-containers") %>
            </div>
        </div>
    </div>

-->

  </div>
</div>