<div class="container">

  <div class="mt-5">
    <h1><%- title %></h1>
		<p><a href="https://v4-alpha.getbootstrap.com/components/card/#card-decks"  target="_blank">Link to bootstrap card deck documentation</a></p>
  </div>
	
</div><!-- /.container --> 


<div class="container-fluid mt-5 mb-5">
  <div class="card-deck mt-5">
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
  </div>
  <div class="card-deck mt-5">
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
    <%- partial("partial/_recipe04-07-samplecard.ejs") %>
  </div>
</div>

