<div class="container">

<h2 class="mt-5">Recipe 08-02: <br>Letting Cards Take Up Space with the <code>.flex-wrap</code> and <code>.col</code> Classes</h2>

<p class="mt-4">In this recipe we'll switch DIRECTION, between a vertical (.flex-{breakpoint}column), and a horizontal (.flex-{breakpoint}-row) stacking of cards.</p>

<p class="mt-4">This recipe will introduce us to the flexbox grid in Bootstrap 4.</p>


</div><!-- /.container -->

<div class="container d-flex flex-wrap">

    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>
    <%- partial("partial/_card1") %>

</div>